.body {
  font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
  box-sizing: border-box;
}

#qrcode canvas {
display: none;
}


.player {
  border-radius: 10px;
  border: 2px solid #73AD21;
  margin: 5px;
  padding: 3px;
}

#players_strip {
  width: 100%;
  display: block;
  height: 200px;
  position: relative;
  overflow: hidden;
}

#players_strip span {
  display: inline-block;
  color: #343434;
  padding-right: 5px;
  z-index: 1;

  display: inline-block;
  position: absolute;

}

/* The shadow DIVs of the sides are decorative and optional, but they add a very nice effect :) */

#players_strip div.shadow{
  position: absolute;
  top: 0px;
  width: 30px;
  height: 100%;
  z-index: 5;
  background: #ffffff;
}

#players_strip div.shadow.left{
  left: 0px;
  -webkit-box-shadow: 10px 0px 10px #fff;
  -moz-box-shadow: 10px 0px 10px #fff;
  box-shadow: 10px 0px 10px #fff;
}

#players_strip div.shadow.right{
  right: 0px;
  -webkit-box-shadow: -10px 0px 10px #fff;
  -moz-box-shadow: -10px 0px 10px #fff;
  box-shadow: -10px 0px 10px #fff;
}

.text-shadow {
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  font-size: 1.75rem;
}